<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>


<link href="/static/css/style_register.css" rel="stylesheet" media="all">
<script src="https://use.fontawesome.com/5660bc6666.js"></script>
<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quiscksands:300,400,500,700|Material+Icons">



<body style="background-image: url('https://images6.alphacoders.com/549/thumb-1920-549198.jpg');">

    <div class="container">
        <form>
            <div class="row">
                <img src="/static/images/logo_orange.png" style="width: 55%; height: 40%; margin-left: 20%;">
                <h4>Account</h4>
                <div class="input-group input-group-icon"><input type="text" placeholder="Full Name" />
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-user"></i></div>
                </div>
                <div class="input-group input-group-icon"><input type="email" placeholder="Email Adress" />
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-envelope"></i></div>
                </div>
                <div class="input-group input-group-icon"><input type="password" placeholder="Password" />
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-key"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="col-half">
                    <h4>Date of Birth</h4>
                    <div class="input-group">
                        <div class="col-third"><input type="text" placeholder="DD" /></div>
                        <div class="col-third"><input type="text" placeholder="MM" /></div>
                        <div class="col-third"><input type="text" placeholder="YYYY" /></div>
                    </div>
                </div>
                <div class="col-half">
                    <h4>Gender</h4>
                    <div class="input-group"><input type="radio" name="gender" value="male" id="gender-male" /><label
                            for="gender-male">Male</label><input type="radio" name="gender" value="female"
                            id="gender-female" /><label for="gender-female">Female</label></div>
                </div>
            </div>
            <div class="row">
                <h4>Payment Details</h4>
                <div class="input-group"><input type="radio" name="payment-method" value="card" id="payment-method-card"
                        checked="true" /><label for="payment-method-card"><span><i class="fa fa-credit-card"
                                style="margin-top:10px;"></i>Credit Card</span></label><input type="radio"
                        name="payment-method" disable="disable" value="paypal" id="payment-method-paypal" /><label
                        for="payment-method-paypal"> <span><i class="fab fa-cc-mastercard"
                                style="margin-top:10px;"></i>Paypal</span></label></div>
                <div class="input-group input-group-icon"><input type="text" placeholder="Card Number" />
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-credit-card"></i></div>
                </div>
                <div class="col-half">
                    <div class="input-group input-group-icon" style="margin-top:10px;"><input type="text"
                            placeholder="Card CVC" />
                        <div class="input-icon" style="margin-top:1px;"><i class="fa fa-user"></i></div>
                    </div>
                </div>
                <div class="col-half">
                    <div class="input-group"><select>
                            <option>01 Jan</option>
                            <option>02 Jan</option>
                        </select><select>
                            <option>2015</option>
                            <option>2016</option>
                        </select></div>
                </div>
            </div>
            <div class="row">
                <h4>Terms and Conditions</h4>
                <div class="input-group"><input type="checkbox" id="terms" /><label for="terms">I accept the terms and
                        conditions for signing up to this service, and hereby confirm I have read the privacy
                        policy.</label></div>
            </div>
        </form>
    </div>


</body>

</html>