<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>


<link href="/static/css/style_register.css" rel="stylesheet" media="all">
<script src="https://use.fontawesome.com/5660bc6666.js"></script>
<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quiscksands:300,400,500,700|Material+Icons">



<body style="background-image: url('https://images6.alphacoders.com/549/thumb-1920-549198.jpg');">

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <img src="/static/images/logo_orange.png" style="width: 55%; height: 40%; margin-left: 20%;">
                <h4>Nombre</h4>
                <div class="input-group input-group-icon">
                    {{form.name}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-user"></i></div>
                </div>
                <h4>Apellido</h4>
                <div class="input-group input-group-icon">
                    {{form.last_name}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-user"></i></div>
                </div>
                <h4>RUT</h4>
                <div class="input-group input-group-icon">
                    {{form.RUT}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-id-card"></i></div>
                </div>
                <h4>Correo</h4>
                <div class="input-group input-group-icon">
                    {{form.email}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-envelope"></i></div>
                </div>
                <h4>Nombre de Usuario</h4>
                <div class="input-group input-group-icon">
                    {{form.username}}
                    <div class="input-icon" style="margin-top:1px;"><i class="far fa-user-circle"></i></div>
                </div>
                <h4>Contraseña</h4>
                <div class="input-group input-group-icon">
                    {{form.password1}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-key"></i></div>
                </div>
            </div>
            <h4>Confirmar Contraseña</h4>
            <div class="input-group input-group-icon">
                {{form.password2}}
                <div class="input-icon" style="margin-top:1px;"><i class="fa fa-key"></i></div>
            </div>

            <h4>Foto de Perfil</h4>
            <div class="row">
                <div class="input-group input-group-icon">
                    {{form.Image_Profile}}
                    <div class="input-icon" style="margin-top:1px;"><i class="fa fa-photo"></i></div>
                </div>
              
            </div>
           
            <input type="submit" value="Registarse" style="margin-top: 1px; width: 200px;" >
            {% if form.errors %}
            <script>
      
         swal("Error al Registrarse", "Rellena bien el formulario!", "error"); // aqui esta la alerta  en caso que de error 
            </script>
             {% endif %}      
        </form>
    </div>


</body>

</html>